<section class="main-container-right">
    <!--Loader-->
    <lottie-animation-view *ngIf="showSchema === false"
                           [options]="lottieConfig"
                           [width]="300"
                           [height]="400">
    </lottie-animation-view>

    <!--Edit content-->
    <section class="right-container" *ngIf="showSchema === true">
        <div class="searchbar">
            <h1>Edit {{contentName}} Content</h1>
        </div>
        <app-os-form [formData]="contentSchema" (sentData)="onSubmitFn($event)"></app-os-form>
    </section>
</section>