@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "~assets/scss/tooltip";

label {
  color: $text-color2;
  display: block;
  font-size: rem(14);
  font-weight: 600;
  line-height: rem(24);
  margin: 0;
}

input {
  border: 0;
  border-bottom: 1px solid $ligth-grey;
  color: #C3C6CF;
  font-size: rem(16);
  height: rem(30);
  line-height: rem(30);
  margin: rem(4) 0;
  min-width: rem(295);
  padding: 0 0 rem(7);
}

.description {
  background-color: transparent;
  color: $text-color1;
  font-size: rem(12);
  height: auto;
  line-height: rem(17);
  margin: rem(3) rem(48) 0 0;
  text-align: right;
}

.link {
  margin: rem(10) rem(48) 0 0;
  input {
    background-color: transparent;
    width: 100%;
  }
}
.links:hover .tooltip {
  opacity: 1;
  top: rem(-10);
  visibility: visible;
}