<div class="links ">
  <div class="link">
    <label *ngIf="urlTitleDisabled === false" for="">Url title</label>
    <input *ngIf="urlTitleDisabled === false"
            type="text"
            [placeholder]="'Type here'"
            (input)="onChange()"
            [(ngModel)]="inputVal.title"
            placement="top-right">
  </div>
  <div class="link">
    <label for="">Url link</label>
    <input type="text"
              [placeholder]="'Type here'"
              (input)="onChange()"
              [(ngModel)]="inputVal.url"
              placement="top-right">
  </div>
  <div *ngIf="description" class="tooltip">{{description}}</div>
</div>
<div class="description">The url can only be internal</div>
