@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

label {
  color: $text-color2;
  display: block;
  font-size: rem(14);
  font-weight: 600;
  line-height: rem(24);
  margin: 0;
}

input {
  border: 0;
  border-bottom: 1px solid $ligth-grey;
  font-size: rem(16);
  height: rem(30);
  line-height: rem(30);
  margin: rem(4) 0;
  min-width: rem(295);
  padding: 0 0 rem(7);
}

.description {
  color: $text-color2;
  font-size: rem(12);
  line-height: rem(17);
  text-align: right;
  width: rem(295);
}

.link {
  margin: rem(10) 0 0;
}