@import "./variables";
@import "./mixins";

.filter {
  background-color: $white;
  height: rem(40);
  margin-left: rem(20);
  display: inline-flex;
  height: rem(40);
  width: calc(100% - 20px);
  svg {
    display: none;
  }
}


.dropdown-toggle::after {
  align-items: center;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  content: "";
  display: inline-block;
  display: flex;
  height: rem(15);
  justify-content: center;
  margin-left: rem(10);
  position: absolute;
  top: rem(10);
  transform: rotate(180deg);
  vertical-align: .255em;
  width: rem(16);
  -webkit-transform: rotate(180deg);
}

.nav-tabs {
  border: 0;
  margin-left: rem(10);
  .nav-link {
    border: 0;
    border-radius: 0;
    color: $text-color1 !important;
    display: block;
    font-family: "Open Sans";
    font-size: rem(14);
    font-weight: 400;
    height: rem(38);
    line-height: rem(19);
    padding: rem(8) rem(40) 0 rem(12);
    position: relative;
    width: auto;
  }
  .dropdown-menu {
    border-radius: 0 0 2px 2px;
    border-top: rem(1) solid #EFF0F3;
    margin-top: rem(0) ;
    padding: rem(14) 0;
  }
}

.rotated {
  transform: rotate(180deg);
}
.dropdown-toggle::after {
  display: inline-block;
  transition: all 1s;
}

.show {
  .dropdown-toggle::after {
    transform: rotate(0deg);
    width: rem(16);
    -webkit-transform: rotate(0deg);
  }
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: $white;
  border: 0;
  border-radius: 0;
  color: $text-color2;
  display: none;
  float: left;
  font-size: rem(14);
  left: 0;
  list-style: none;
  margin: rem(2) 0 0 0;
  padding: 0;
  position: absolute !important;
  text-align: left;
  top: rem(-5);
  z-index: 1000;
}

.dropdown-item {
  color: #687086;
  line-height: rem(30);
  padding: 0 rem(10) 0 rem(10);
  &:hover {
    color:#687086;
  }
}
.btn-success{
  display: none;
}
@media only screen and (min-width: rem(501)) {
  a.dropdown-item c {
    display: none !important;
  }
  a.dropdown-item input {
    display: none;
  }
}

@media only screen and (max-width: rem(500)){
  #filter{
    color: $text-color1;
    cursor: default;
    font-size: rem(20);
    font-weight: 600;
    line-height: rem(27);
    position: absolute;
    right: rem(60);
    top: rem(16);
    z-index: 4;
  }

  .filter {
    display: block;
    height: calc(100vh - 60px) !important;
    margin: 0;
    position: absolute;
    left: -100%;
    top: rem(60);
    transition: all 0.5s;
    width: calc(100% - 50px) !important;
    z-index: 5;
    &.mobile {
      left: 0;
      top: rem(60);
      overflow-y: scroll;
      transition: all 0.5s;
      svg {
        display: block;
        height: rem(16);
        margin: rem(27) 0 0 rem(20);
        width: rem(16);
      }
    }
      .nav.nav-tabs {
        display: block;
        margin: 0;
        position: relative;
        top: rem(23);
        .nav-link {
          color: #687086;
          cursor: initial;
          font-family: "Open Sans";
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          padding: rem(8) rem(44) 0 rem(20);
          pointer-events: none;
        }
        .nav-item.dropdown {
          margin: 0 0 rem(100) 0;
          .dropdown-menu {
            border: none;
            box-shadow: none;
            color: #687086;
            display: block;
            font-family: "Open Sans";
            font-size: 18px;
            line-height: 24px;
            left: -0px;
            padding: 0 rem(44) 0 rem(10);
            position: absolute;
            top: rem(40);
          }
        }
      }
      .btn-success{
        border-radius: rem(2) rem(2);
        background-color: $green;
        display: block;
        height: 30px;
        position: absolute;
        text-align: center;
        top: rem(20);
        right: rem(20);
        width: 80px;
      }

  }
  .dropdown-toggle::after {
    display: none;
  }
}
a.dropdown-item {
  &:active{
    background-color: initial;
  }
  input {
    opacity: 0;
    position: relative;
    top: rem(5);
    height: rem(20);
    width: rem(20);
    z-index: 6;
  }
  c {
    border: rem(2) solid $text-color1;
    box-shadow: inset 0 0 0 4px $white;
    display: inline-block;
    height: rem(20);
    left: 20px;
    margin-right: 5px;
    margin-top: rem(6);
    position: absolute;
    transition: .25s;
    vertical-align: middle;
    width: rem(20);
    &.checked-disabled {
      &:after {
        border: solid $text-color4;
        border-width: 0 rem(2) rem(2) 0;
        content: '';
        display: block;
        height: rem(10);
        left: rem(6);
        position: relative;
        top: rem(2);
        transform: rotate(45deg);
        width: rem(5);
      }
    }
  }
  input:checked + c {
    &:after {
      border: solid $text-color1;
      border-width: 0 rem(2) rem(2) 0;
      content: '';
      display: block;
      height: rem(10);
      left: rem(6);
      position: relative;
      top: rem(2);
      transform: rotate(45deg);
      width: rem(5);
    }
  }
  input[disabled] + c {
    border: rem(2) solid $text-color4;

  }
  input[disabled="disabled"] {
    &:checked + c {
      &::after {
        border: solid $text-color4;
        border-width: 0 rem(2) rem(2) 0;
        content: '';
        display: block;
        height: rem(10);
        left: rem(6);
        position: relative;
        top: rem(2);
        transform: rotate(45deg);
        width: rem(5);
      }
    }
  }
}

@media only screen and (max-width: rem(666)){
  .filter {
    height: rem(75);
  }
}

a+.dropdown-menu {
  min-width: 100%;
}

.dropdown-menu{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.4);

}

