@import 'overlay';
@import'../scss/variables';

.hero-grid.clearfix {
margin: 0 -8px 0 12px;
}

.hero-grid__grid-sizer {
  position: absolute;
}

.hero-grid__gutter-sizer {
  width: 2%;
}

.hero-grid__item {
  float: left;
}

.hero-grid__item,
.media-item {
  position: relative;
  background: rgb(255, 255, 255);
  &:hover {

    .overlay {
      background-color: rgba(51, 59, 80, 0.8);
      opacity: 1;
      z-index: 3;
      }
    .description {
      background-color: $white;
      //z-index: 2;
      color: $white;
      //transition: 0.5s ease;
    }

    .hero__tagline {
      color: #fff;
      //transition: 0.5s ease;
    }
    .hero__author {
      color: #fff;
      //transition: 0.5s ease;
    }
  }
}
  
.hero-grid__item--width2,
.hero-grid__item--width3 {
  width: 96%;
}

.description {
  height: 75px;
  margin: 0;
  background-color: #fff;
  position: relative;
  @include transition(.5s ease);
  .triangle-up {
      margin-left: 20px;
      top: -15px;
      position: absolute;
      width: 0;
      height: 0;
      z-index: 1;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 15px solid #fff;
  }
  .hero__tagline {
      font-size: 12px;
      margin-top: 0px;
      padding-top: 25px;
      margin-left: 21px;
      color: #53D79F;
      line-height: 5px;
    transition: color 0.5s ease;
  }
  .hero__author {
    font-size: 12px;
    margin-left: 21px;
    color: $text-color2;
    line-height: 0;
    transition: color 0.5s ease;
  }
} 

.content-block {
  margin: rem(10) rem(20) 0 rem(20) !important;
  h4.card-title {
    color: #333B50;	
    font-family: "Open Sans";	
    font-size: rem(16);	
    font-weight: 600;	
    line-height: rem(22);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-muted {
    top: rem(-4);
    position: relative;
    padding: 0;
    margin: 0;
    color: #333B50;
  }
  .card-text {
    color: #333B50;
    font-size: rem(14);
    min-height: rem(70);
    line-height: rem(19);
    margin-bottom: rem(10);
    opacity: 0.7;
  }
}

.statistic {
display: flex;
height: rem(50);
background: #F9F9F9;
bottom: 0;
.workflow svg {
  display: flex;
  margin: rem(10) rem(20) rem(10) rem(20);
  height: rem(30);
  width: rem(30);
}
.social {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 rem(30) 0 rem(5);
  width: auto;
  .seperator {
    height: rem(20);
    color: #EFF0F3;
    align-items: center;
    top: rem(-4);
    position: relative;
  }
  .like {
    display: inline-flex;
    position: relative;
    svg {
      display: flex;
      top: 0;
      height: rem(16);
      width: rem(18);
      position: relative;
      margin: 0 rem(10) 0 0;
    }
    .count {
      top: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      display: flex;
      position: relative;
    }
  }
  
  .twitter {
    display: inline-flex;
    position: relative;
    svg {
      display: flex;
      top: 0;
      height: rem(16);
      width: rem(24);
      position: relative;
      margin: 0 rem(10) 0 0;
    }
    .count {
      top: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      display: flex;
      position: relative;
    }
  }
  .share{
    display: inline-flex;
    position: relative;
    svg {
      display: flex;
      top: 0;
      height: rem(16);
      width: rem(16);
      position: relative;
      margin: 0 rem(10) 0 0;
    }
    .count {
      top: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      display: flex;
      position: relative;
    }
  }
}
}
  
img {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 0;
  border-radius: 2px 2px 0 0;
}

.image_size {
  z-index: 1;
  position: absolute;
  margin-top: 15px;
  right: -5px;
  height: 20px;
  width: 100px;
  line-height: 17px;
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #53D79F;
  overflow: hidden;
}
.options {
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
  
  

.text {
  font-family: "Open Sans";
  font-size: 14px;
  padding: 10.5px 32.5px;
  border: 1px solid #53D79F;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media screen and ( min-width: 1441px ) {

  .hero-grid__item, .hero-grid__grid-sizer {
    width: calc(20% - 15px) !important;
    margin: 15px 7.5px 0 7.5px;
  }
}

  
  /* enough width for 4 columns */
@media screen and ( max-width: 1440px ) {

  .hero-grid__item, .hero-grid__grid-sizer {
    width: calc(33.3% - 15px) !important;
    margin: 15px 7.5px 0 7.5px;
}
}
  
@media screen and ( max-width: 1070px ) {
  
    .hero-grid__item, .hero-grid__grid-sizer {
      width: calc(50% - 15px) !important;
      margin: 15px 7.5px 0 7.5px;
  }
  }

  @media screen and ( max-width: 780px ) {
    
      .hero-grid__item, .hero-grid__grid-sizer {
        width: calc(100% - 15px) !important;
        margin: 15px 7.5px 0 7.5px;
    }
    }

    @media screen and ( max-width: 500px ) {
      .hero {
        margin-top: -28px;
      }
      .hero-grid.clearfix {
        margin: 0;
        }
      }
