@import "variables";
@import 'mixins';

.searchbar{
  display: inline-flex;
  height: rem(36);
  margin-bottom: rem(8);
  width: 100%;
  h1 {
    color: $text-color1;
    font-size: rem(20);
    font-weight: 600;
    line-height: rem(27);
    height: rem(27);
    margin-left: rem(21);
  }
  .add-content{
    position: relative;
    width: 100%;
    a {
      left: rem(10);
      position: relative;
      z-index: 99;
      &.add svg {
        background-color: transparent;
        height: rem(38.1);
        position: relative;
        top: rem(-6);
        transform: rotate(0deg);
        transition: all 1s;
        width: rem(38.1);
        -webkit-transform: rotate(0deg);
        &.rotate {
          filter: drop-shadow(0 rem(2) rem(2) $ligth-grey) ;
          transform: rotate(45deg);
          transition: all 1s;
          -webkit-transform: rotate(45deg);
        }
      }
    }
    ul.menu {
      display: none;
      float: right;
      left: rem(20);
      position: absolute;
      top: 0;
      &.anim {
        display: block;
      }
      li {
        color: $green;
        cursor: pointer;
        display: inline;
        font-family: "Open Sans";
        font-size: rem(14);
        height: rem(19);
        line-height: rem(19);
        position: relative;
        &:after {
          color: $ligth-grey;
          content: " | ";
          height: rem(19);
          margin: 0 rem(5);
          padding: 0;
          position: relative;
        }
        &:last-child:after {
          content: '';
        }
      }
    }
  }
 .search svg {
   height: rem(27);
   position: absolute;
   right: 0;
   top: 0;
   width: rem(27);
 }
}

@media only screen and (max-width: rem(500)){
  .searchbar {
    height: 0;
    display: block;
    h1 {
      display: none;
    }
    .search {
      display: none;
    }
    .add-content {
      top: -48px;
      padding-left: 125px;
      ul.menu {
        background-color: $white;
        display: table-footer-group;
        height: calc(100vh - 60px);
        left: -100%;
        padding-left: 20px;
        padding-top: rem(20);
        position: absolute;
        transition: all 0.5s;
        top: rem(40);
        width: calc(100% - 50px);
        z-index: 6;
        &.anim {
          display: block;
          left: 0 ;
          overflow-y: scroll;
          transition: all 0.5s;
        }
        li {
          color: #53D79F;
          display: flex;
          font-family: "Open Sans";
          font-size: 18px;
          line-height: 24px;
          padding: 0 0 rem(32) 0;
          text-align: right;
          &:after {
            content: none;
          }
        }
      }
    }
  }
}