@import "variables";
@import 'mixins';

.searchbar{
  display: inline-flex;
  height: rem(36);
  margin-bottom: rem(8);
  width: 100%;
  h1 {
    color: $text-color1;
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(27);
    margin: 0 rem(6) 0 0;
  }
  .add-content{
    position: relative;
    width: 100%;
    a {
      left: rem(10);
      z-index: 99;
      &.add .svg {
        @include box-shadow(0, 2px, 2px, 0, rgba(0,0,0,0.15));
        @include border-radius(100%);
        background-color: transparent;
        height: rem(30);
        position: absolute;
        top: rem(-2);
        transform: rotate(0deg);
        transition: all 1s;
        max-width: rem(30);
        -webkit-transform: rotate(0deg);
        cursor: pointer;
        &.rotate {
          @include box-shadow(2px, 1px, 2px, 0, rgba(0,0,0,0.15));
          transform: rotate(45deg);
          transition: all 1s;
          -webkit-transform: rotate(45deg);
        }
      }
    }
    ul.menu {
      display: none;
      float: right;
      height: 100%;
      left: rem(20);
      line-height: rem(19);
      margin-left: rem(40);
      padding: 0;
      position: absolute;
      overflow: hidden;
      top: 0;
      z-index: 99;
      &.anim {
        display: block;
      }
      li {
        color: $green;
        cursor: pointer;
        display: inline;
        font-size: rem(14);
        line-height: rem(19);
        position: relative;
        &:after {
          color: $ligth-grey;
          content: " | ";
          height: rem(19);
          margin: 0 rem(5);
          padding: 0;
          position: relative;
        }
        &:last-child:after {
          content: '';
        }
      }
    }
  }
 .search svg {
   height: rem(27);
   position: absolute;
   right: 0;
   top: 0;
   width: rem(27);
 }
}

@media only screen and (max-width: rem(500)){
  .searchbar {
    height: 0;
    display: block;
    h1 {
      display: none;
    }
    .search {
      display: none;
    }
    .add-content {
      display: none;
    }
  }
}