@import '/variables';

.tooltip {
    background-color: $tooltip;
    bottom: 125%;
    color: $white;
    font-family: "Open Sans";	
    font-size: rem(12);
    height: fit-content;
    min-height: rem(30);
    line-height: rem(17);
    opacity: 0;
    padding: rem(6) rem(15);
    position: absolute;
    right: 0;
    transition: opacity 0.3s;
    text-align: center;
    visibility: hidden;
    width: auto;
    z-index: 9999;
}

.tooltip::after {
    border-top: rem(10) solid $tooltip;
    border-right: rem(6) solid transparent;
    border-left: rem(6) solid transparent;
    content: "";
    left: 50%;
    margin-left: rem(-6);
    position: absolute;
    top: 100%;
}
