@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.grid-item-inner {
  background-color: $white;
  height: 100%;
  padding: rem(10) rem(11);
  width: 100%;
}

.widget-title {
  color: $text-color2;
  font-size: rem(14);
  font-weight: 600;
  margin: 0 0 rem(15);
  width: calc(100% - 100px);
}

.widget-footer {
  height: 40px;
  background-color: #EFF0F3;
  margin: 5px -11px -10px;
  font-size: 14px;
  color: #687086;
  line-height: 40px;
  padding: 0 15px;
  border-top: 1px solid #D4D7DD;
  span {
    cursor: pointer;
    &:hover {
      color: $text-color2;
    }
  }
}
