@import '../../../../assets/scss/searchbar';
@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/sidemenu';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/header';
@import "../../../../assets/scss/imagegrid";

.grid {
  width: 100%;
  xmin-height: rem(700);
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.grid-item.is-pointer-down {
  border: deeppink;
  opacity: 0.5;
}

.grid-item {
  @include common-shadow(1px, 1px, 1px, 0px, rgba(0, 0, 0, 0.15));
  float: left;
  overflow: hidden;
  position: relative;
  width: rem(420);
  &:hover {
    .handle {
      display: block;
    }
  }
}

.large {
  height: auto;
  width: rem(855);
  //&:after {
  //  background-color: $ligth-grey;
  //  content: "";
  //  height: rem(1);
  //  position: absolute;
  //  right: 0;
  //  top: rem(36);
  //  width: rem(855);
  //}
}

.default {
  height: auto;
  width: rem(420);
}

.minimized {
  height: rem(36);
  width: rem(420);
}

.expand {
  height: auto;
}

.widget-content > div {
  background-color: $white;
  padding: rem(5) rem(7.5);
  position: absolute;
  right: 0;
  z-index: 2;
  > span {
    cursor: pointer;
    margin: 0 rem(2.5);
  }
}


.handle {
  cursor: pointer;
  display: none;
  height: rem(30);
  line-height: rem(36);
  margin-top: rem(-4);
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

// Notification
.notification {
  animation: 0.4s ease-out slideLeftIn;
  background-color: rgba(104, 112, 134, 0.7);
  bottom: rem(60);
  min-height: rem(60);
  padding: 0 rem(32);
  position: fixed;
  right: rem(50);
  z-index: 4;
  &.closed {
    animation: 0.4s ease-out slideLeftOut;
  }
}

.question-title {
  color: $white;
  font-size: rem(12);
  font-weight: 600;
  line-height: rem(14);
  margin: 0;
  padding: 0;
}

.modal-buttons {
  margin: 0 rem(-12) 0 rem(50);
}

button {
  margin: 0 rem(4);
}

@keyframes slideLeftIn {
  0% {
    opacity: 0.5;
    transform: translateX(calc(100% + 25px));
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeftOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0.5;
    transform: translateX(calc(100% + 25px));
  }
}
.add-widget {
  color: #B1B4BE;
  font-size: rem(12);
  img {
    margin: 0 rem(8) 0 0;
    transform: rotate(45deg);
    width: rem(11.32);
  }
}

.grid-gutter {
  width: 2%;
}

.w-options {
  margin-top: rem(5);
}

.w-minus {
  margin-top: rem(10);
}