@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

// Number.
.number {
  color: $text-color2;
  font-size: rem(64);
  line-height: rem(87);
}

// Image.
img {
  margin: 0 rem(8);
}


// Message
.user-widget {
  margin: rem(34) 0 rem(60);
}

.message {
  color: $text-color2;
  font-size: rem(14);
  font-weight: 600;
  margin: 0 0 0 rem(22);
  padding: 0 0 0 rem(16);
  position: relative;
  &:before {
    background-color: $ligth-grey;
    content: "";
    height: rem(83);
    left: rem(-16);
    margin: 0 0 0 rem(8);
    position: absolute;
    top: rem(-32);
    width: rem(1);
  }
}