<div>
  <form [formGroup]="configForm">
    <!--Value: {{ configForm.value | json }}-->
    <div *ngFor="let fData of formData">
      <div [ngSwitch]="fData.type"
           [ngClass]="{'form-group-publish': fData.id == 'promote' || fData.id == 'sticky' || fData.id == 'status'}"
           class="form-group">

        <!--Text field type-->
        <ng-container *ngSwitchCase="'text'">
          <div class="form-group form-group-textfield">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true && fData.id != 'title'">*</span>
            <div [formArrayName]="fData.id" class="textfields">
              <div class="field textfield"
                   *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index">
                <span class="prefix" *ngIf="fData.prefix" [innerHTML]="fData.prefix"></span>
                <input type="text"
                       [placeholder]="fData.placeholder"
                       [id]="fData.id"
                       [formControlName]="i"
                       [attr.maxlength]="fData.maxLength"
                       placement="top-right"
                >
                <span class="suffix" *ngIf="fData.suffix" [innerHTML]="fData.suffix"></span>
                <img class="bin" *ngIf="fData.multiValues !== 1 && i > 0"
                     (click)="removeElement(fData.id, i)" src="../../../../assets/images/clear.svg">
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="configForm.get(fData.id)['controls'][i].hasError(validator.name) &&
                        formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
                <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
              </div>
            </div>
            <div class="form-actions">
                            <span class="add btn btn-success" *ngIf="((fData.multiValues !== null && configForm.get(fData.id)['controls'].length > 0 &&
                            fData.multiValues > configForm.get(fData.id)['controls'].length) || (fData.multiValues == -1))"
                                  (click)="addNewElement(fData.id)">Add new item
                            </span>
            </div>
          </div>
        </ng-container>

        <!--Date field type-->
        <ng-container *ngSwitchCase="'date'">
          <div class="form-group form-group-date">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div [formArrayName]="fData.id" class="">
              <div class="field field-date"
                   *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index">
                <span class="prefix" *ngIf="fData.prefix" [innerHTML]="fData.prefix"></span>
                <app-date
                    [id]="fData.id"
                    [timePicker]="fData.timePicker"
                    [formControlName]="i"
                    placement="top-right"
                >
                </app-date>
                <span class="suffix" *ngIf="fData.suffix" [innerHTML]="fData.suffix"></span>
                <img class="bin" *ngIf="fData.multiValues !== 1 && i > 0"
                     (click)="removeElement(fData.id, i)" src="../../../../assets/images/clear.svg">
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="configForm.get(fData.id)['controls'][i].hasError(validator.name) &&
                        formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
              </div>
              <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
            </div>
            <div class="form-actions">
                            <span class="add btn btn-success add" *ngIf="((fData.multiValues !== null && configForm.get(fData.id)['controls'].length > 0 &&
                            fData.multiValues > configForm.get(fData.id)['controls'].length) || (fData.multiValues == -1))"
                                  (click)="addNewElement(fData.id, 'date')">Add new item
                            </span>
            </div>
          </div>
        </ng-container>

        <!--Password field type-->
        <ng-container *ngSwitchCase="'password'">
          <div class="form-group form-group-password">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div [formArrayName]="fData.id">
              <div class="field textfield"
                   *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index"
              >
                <input type="password"
                       [placeholder]="fData.placeholder"
                       [id]="fData.id"
                       [formControlName]="i"
                       [attr.maxlength]="fData.maxLength"
                       (change)="checkPassword(fData.id, configForm.get(fData.id).value)"
                       placement="right"
                >
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="configForm.get(fData.id).hasError(validator.name) &&
                        formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
                <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
              </div>
            </div>
          </div>

          <!--Confirm Password-->
          <div class="form-group form-group-password confirm-password" *ngIf="fData.id == 'pass'">
            <label for="confirm">Confirm Password</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div class="field textfield">
              <input type="password"
                     [placeholder]="fData.placeholder"
                     id="confirm"
                     #confirm
                     (change)="valuesCheck(configForm.get(fData.id).value, confirm.value)"
              >
            </div>
            <small class="text-danger" *ngIf="formSubmitted == true
                  && confirmPassword == false
                  && (!confirm.pristine && fData.id == 'pass')
                  && configForm.get(fData.id).value.length">
              Password mismatch
            </small>
          </div>
        </ng-container>

        <!--Select field type-->
        <ng-container *ngSwitchCase="'select'">
          <div class="form-group form-group-select">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <ng-select
                class="custom"
                [items]="fData.options"
                bindLabel="name"
                bindValue="id"
                [searchable]="false"
                [placeholder]="fData.placeholder"
                [formControlName]="fData.id"
                [multiple]="fData.multiValues != 1"
                [maxSelectedItems]="fData.multiValues != -1 ? fData.multiValues : 999"
            >
            </ng-select>
            <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
              <small class="text-danger"
                     *ngIf="configForm.get(fData.id).hasError(validator.name) &&
                                        formSubmitted === validator.onFormSubmit">
                {{validator.errorMsg}}
              </small>
            </ng-template>
            <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
          </div>
        </ng-container>

        <!--Text-area field type-->
        <ng-container *ngSwitchCase="'text-area'">
          <div class="form-group form-text-area">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div [formArrayName]="fData.id">
              <div class="text-area" *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index">
                                <textarea type="text"
                                          [placeholder]="fData.placeholder"
                                          [id]="fData.id"
                                          [formControlName]="i"
                                          [attr.maxlength]="fData.maxLength"
                                ></textarea>
                <img class="bin" *ngIf="fData.multiValues !== 1 && i > 0"
                     (click)="removeElement(fData.id, i)" src="../../../../assets/images/clear.svg">
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="configForm.get(fData.id)['controls'][i].hasError(validator.name) &&
                        formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
                <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
              </div>
            </div>
            <span class="add btn btn-success" *ngIf="((fData.multiValues !== null && configForm.get(fData.id)['controls'].length > 0 &&
                            fData.multiValues > configForm.get(fData.id)['controls'].length) || (fData.multiValues == -1))"
                  (click)="addNewElement(fData.id)">Add new item
                        </span>
          </div>
        </ng-container>

        <!--Text-summary field type-->
        <ng-container *ngSwitchCase="'text-summary'">
          <div class="form-group form-group-summary">
            <label *ngIf="fData.label.length" [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div [formArrayName]="fData.id">
              <div class="form-summary" *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index">
                <app-text-summary [placeholder]="fData.placeholder"
                                  [maxLength]="fData.maxLength"
                                  [description]="fData.description"
                                  [required]="fData.required"
                                  [formControlName]="i"
                                  [id]="fData.id"
                >
                </app-text-summary>
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="(configForm.get(fData.id)['controls'][i].hasError(validator.name)
                                || !configForm.get(fData.id)['controls'][i].dirty || configForm.get(fData.id)['controls'][i].touched) &&
                        formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
                <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
                <img class="bin" *ngIf="fData.multiValues !== 1 && i > 0"
                     (click)="removeElement(fData.id, i)" src="../../../../assets/images/clear.svg">
              </div>
              <span class="btn btn-success add" *ngIf="((fData.multiValues !== null && configForm.get(fData.id)['controls'].length > 0 &&
                            fData.multiValues > configForm.get(fData.id)['controls'].length) || (fData.multiValues == -1))"
                    (click)="addNewElement(fData.id)">Add new item
                             </span>
            </div>
          </div>
        </ng-container>

        <!--Text-editor field type-->
        <ng-container *ngSwitchCase="'text-editor'">
          <div class="form-group form-group-text">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div [formArrayName]="fData.id">
              <div class="form-text" *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index">
                <app-text-editor [placeholder]="fData.placeholder"
                                 [maxLength]="fData.maxLength"
                                 [description]="fData.description"
                                 [formControlName]="i"
                                 [id]="fData.id"
                                 placement="top-right"

                >
                </app-text-editor>
                <img class="bin" *ngIf="fData.multiValues !== 1 && i > 0"
                     (click)="removeElement(fData.id, i)" src="../../../../assets/images/clear.svg">
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="configForm.get(fData.id)['controls'][i].hasError(validator.name) &&
                        formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
                <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
              </div>
            </div>
            <span class="btn btn-success add" *ngIf="((fData.multiValues !== null && configForm.get(fData.id)['controls'].length > 0 &&
                            fData.multiValues > configForm.get(fData.id)['controls'].length) || (fData.multiValues == -1))"
                  (click)="addNewElement(fData.id)">Add new item
                        </span>
          </div>
        </ng-container>

        <!--Number field type-->
        <ng-container *ngSwitchCase="'number'">
          <div class="form-group {{fData.id}} form-group-number">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div class="numberfields" [formArrayName]="fData.id">
              <div class="field numberfield"
                   *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index">
                <img class="bin" *ngIf="fData.multiValues !== 1 && i > 0"
                     (click)="removeElement(fData.id, i)" src="../../../../assets/images/clear.svg">
                <span class="prefix" *ngIf="fData.prefix" [innerHTML]="fData.prefix"></span>
                <input type="number"
                       [placeholder]="fData.placeholder"
                       [id]="fData.id"
                       [formControlName]="i"
                       [attr.maxlength]="fData.maxLength"
                       [step]="fData.decimals !== null ? fData.step : '1'"
                       placement="top-right"
                >
                <span class="suffix" *ngIf="fData.suffix" [innerHTML]="fData.suffix"></span>
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="configForm.get(fData.id)['controls'][i].hasError(validator.name) &&
                        formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
              </div>
              <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
            </div>
            <div class="form-actions">
                            <span class="add btn btn-success" *ngIf="((fData.multiValues !== null &&
                                fData.multiValues > configForm.get(fData.id)['controls'].length) || (fData.multiValues == -1))"
                                  (click)="addNewElement(fData.id)">Add new item
                            </span>
            </div>
          </div>
        </ng-container>

        <!--Number slider field type-->
        <ng-container *ngSwitchCase="'slider'">
          <div class="form-group slider">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div [formArrayName]="fData.id">
              <div class="form-number-slider"
                   *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index">
                <nouislider
                    [connect]="[true, false]"
                    [min]="fData.minimumValue"
                    [max]="fData.maximumValue"
                    [step]="fData.step"
                    [tooltips]="true"
                    [formControl]="valueData"
                ></nouislider>
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="configForm.get(fData.id).hasError(validator.name) &&
                                            formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
                <img class="bin" *ngIf="fData.multiValues !== 1 && i > 0"
                     (click)="removeElement(fData.id, i)" src="../../../../assets/images/clear.svg">
              </div>
              <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
              <span class="btn btn-success add" *ngIf="((fData.multiValues !== null && configForm.get(fData.id)['controls'].length > 0 &&
                            fData.multiValues > configForm.get(fData.id)['controls'].length) || (fData.multiValues == -1))"
                    (click)="addNewElement(fData.id, 'slider')">Add new item
                             </span>
            </div>
          </div>
        </ng-container>

        <!--email field type-->
        <ng-container *ngSwitchCase="'email'">
          <div class="form-group form-group-email">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div class="emailfields" [formArrayName]="fData.id">
              <div class="field emailfield"
                   *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index">
                <input type="text"
                       [placeholder]="fData.placeholder"
                       [id]="fData.id"
                       [formControlName]="i"
                       [attr.maxlength]="fData.maxLength"
                       placement="top-right"
                >
                <img class="bin" *ngIf="fData.multiValues !== 1 && i > 0"
                     (click)="removeElement(fData.id, i)" src="../../../../assets/images/clear.svg">
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="(configForm.get(fData.id)['controls'][i].hasError(validator.name) ||
                                     (configForm.get(fData.id)['controls'][i].invalid &&
                        configForm.get(fData.id)['controls'][i].touched))  &&
                        formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
                <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
              </div>
            </div>
            <div class="form-actions">
                            <span class="add btn btn-success" *ngIf="((fData.multiValues !== null && configForm.get(fData.id)['controls'].length > 0 &&
                            fData.multiValues > configForm.get(fData.id)['controls'].length) || (fData.multiValues == -1))"
                                  (click)="addNewElement(fData.id)">Add new item
                            </span>
            </div>
          </div>
        </ng-container>

        <!--URL field type-->
        <ng-container *ngSwitchCase="'url'">
          <div class="form-group form-group-url">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div class="urlfields" [formArrayName]="fData.id">
              <div class="urlfield"
                   *ngFor="let valueData of configForm.get(fData.id)['controls']; let i=index">
                <app-url-field [placeholder]="fData.placeholder"
                               [description]="fData.description"
                               [urlTitleDisabled]="fData.urlTitleDisabled"
                               [required]="fData.required"
                               [formControlName]="i"
                               [id]="fData.id">
                </app-url-field>
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="(configForm.get(fData.id)['controls'][i].hasError(validator.name)
                                || !configForm.get(fData.id)['controls'][i].dirty || configForm.get(fData.id)['controls'][i].touched) &&
                        formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
                <img class="bin" *ngIf="fData.multiValues !== 1 && i > 0"
                     (click)="removeElement(fData.id, i)" src="../../../../assets/images/clear.svg">
              </div>
              <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
              <span class="btn btn-success add" *ngIf="((fData.multiValues !== null && configForm.get(fData.id)['controls'].length > 0 &&
                            fData.multiValues > configForm.get(fData.id)['controls'].length) || (fData.multiValues == -1))"
                    (click)="addNewElement(fData.id)">Add new item
                             </span>
            </div>
          </div>
        </ng-container>

        <!--Checkbox field type-->
        <ng-container *ngSwitchCase="'checkbox'">
          <div class="form-groups group-publish"
               [ngClass]="{'form-group-publish': fData.options.length === 1 }"
          >
            <label *ngIf="fData.options.length > 1" [for]="fData.id">{{ fData.label }}</label>
            <label *ngIf="fData.id == 'status'" class="publish">Publishing Options</label>
            <label *ngIf="fData.permissions" [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true && fData.options.length > 1">*</span>
            <app-checkbox *ngFor="let check of fData.options"
                          [value]="check.id"
                          [label]="check.name.length > 0 ? check.name : fData.label"
                          [single]="fData.options.length == 1"
                          [required]="fData.required"
                          [options]="fData.options"
                          [formControl]="configForm.controls[fData.id]"></app-checkbox>
            <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
              <small class="text-danger"
                     *ngIf="configForm.get(fData.id).hasError(validator.name) &&
                        formSubmitted === validator.onFormSubmit && configForm.get(fData.id).value.length === 0">
                {{validator.errorMsg}}
              </small>
            </ng-template>
            <div *ngIf="fData.description && !fData.permissions" class="tooltip">{{fData.description}}</div>
            <div *ngIf="fData.permissions" class="permission-message">
              <span>{{fData.permissions}}</span>
            </div>
          </div>
        </ng-container>

        <!--Radio field type-->
        <ng-container *ngSwitchCase="'radio'">
          <div class="form-group form-radio">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <app-radio-button *ngFor="let check of fData.options; let i = index"
                              [name]="fData.id"
                              [value]="check.id"
                              [label]="check.name"
                              [inputId]="i"
                              [formControlName]="fData.id"></app-radio-button>
            <span *ngIf="fData.description" [innerHTML]="fData.description"></span>
            <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
              <small class="text-danger"
                     *ngIf="configForm.get(fData.id).hasError(validator.name) &&
                        formSubmitted === validator.onFormSubmit">
                {{validator.errorMsg}}
              </small>
            </ng-template>
            <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
          </div>
        </ng-container>

        <!--File Upload field-->
        <ng-container *ngSwitchCase="'upload'">
          <div class="form-group form-upload">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <app-file-upload
                [accept]="fData.accept"
                [multiValue]="fData.multiValues"
                [required]="fData.required"
                [id]="fData.id"
                [reference]="fieldRef"
                [formControlName]="fData.id">
            </app-file-upload>
            <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
              <small class="text-danger"
                     *ngIf="configForm.get(fData.id).hasError(validator.name) &&
                        formSubmitted === validator.onFormSubmit">
                {{validator.errorMsg}}
              </small>
            </ng-template>
            <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
          </div>
        </ng-container>

        <!--Reference field-->
        <ng-container *ngSwitchCase="'reference'">
          <div class="form-group form-group-reference">
            <label [for]="fData.id">{{ fData.label }}</label>
            <span class="required" *ngIf="fData.required === true">*</span>
            <div class="">
              <div class="form-reference">
                <app-reference-field
                    [targetType]="fData.targetType"
                    [targetBundles]="fData.targetBundles"
                    [maxItems]="fData.multiValues"
                    [addNew]="referenceCheck"
                    [id]="fData.id"
                    [formControlName]="fData.id">
                </app-reference-field>
                <ng-template ngFor let-validator [ngForOf]="fData.processedValidators">
                  <small class="text-danger"
                         *ngIf="configForm.get(fData.id).hasError(validator.name) &&
                                           formSubmitted === validator.onFormSubmit">
                    {{validator.errorMsg}}
                  </small>
                </ng-template>
                <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
              </div>
            </div>
          </div>
        </ng-container>

        <!--Unsupported Field-->
        <ng-container *ngSwitchDefault>
          <div class="form-group form-group-unsuported">
            <label [for]="fData.id">{{ fData.label }}</label>
            <div class="unsupported-field">Unsupported Field
              <div *ngIf="fData.description" class="tooltip">{{fData.description}}</div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
    <div class="form-actions text-right">
      <button type="submit" *ngIf="!referenceCheck; else referenceSubmit" class="btn btn-success"
              (click)="configForm.updateValueAndValidity(); onSubmit(configForm.value, configForm.valid)"
              [disabled]="buttonValue">Save
      </button>
      <ng-template #referenceSubmit>
        <button type="submit" class="btn btn-success mock-class"
                (click)="configForm.updateValueAndValidity(); onSubmit(configForm.value, configForm.valid)"
                [disabled]="buttonValue">
          Save new Reference
        </button>
      </ng-template>
    </div>
  </form>
</div>

