@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/buttons";
@import "../../../../assets/scss/mixins";
@import "~assets/scss/tooltip";

form {
  @include box-shadow(0, 2px, 2px, 0, rgba(0, 0, 0, 0.15));
  background-color: $white;
  font-size: rem(16);
  min-height: rem(500);
  padding: rem(20);
  width: 70%;
}

label {
  color: $text-color1;
  font-size: rem(18);
  text-transform: capitalize;
}

input {
  border: 1px solid $ligth-grey;
  height: rem(30);
  line-height: rem(30);
  margin: rem(4) 0;
  padding: 0 rem(10);
}

.tag {
  background-color: #eff0f3;
  color: #687086;
  font-weight: 600;
  font-size: rem(12);
  height: rem(20);
  display: inline-block;
  position: relative;
  text-align: center;
  width: rem(23);
  &:after {
    border-style: solid;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
  &.tag-left:after {
    border-color: transparent #eff0f3 transparent transparent;
    border-width: 10px 5px 10px 0;
    left: rem(-5);
  }
  &.tag-right:after {
    border-color: transparent transparent transparent #eff0f3;
    border-width: 10px 0 10px 5px;
    right: rem(-5);
  }
}

// Field types.
.field_float,
.field_integer,
.field_integer_fara_default_cu_mi,
.field_num3,
.field_numberdecimal {
  > div > div {
    margin: rem(6) 0;
  }
  input {
    border: 0;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    margin: 0 rem(8);
    min-width: 0;
    width: rem(151);
  }
  .btn-secondary {
    font-size: rem(12);
    font-weight: 600;
    height: rem(20);
    line-height: rem(20);
  }
}

.field_num3 input {
  margin: 0;
  width: rem(220);
}

// Slider
.slider {
  max-width: rem(338);
  label {
    margin: 0 !important;
    position: relative;
    top: 10px;
  }
  nouislider {
    margin-top: rem(24);
  }
}

.form-group-number {
  max-width: rem(370);
  .numberfields {
    margin-top: rem(4);
    .numberfield {
      background-color: $secondary;
      display: flex;
      font-weight: 600;
      height: rem(40);
      margin: rem(4) 0;
      padding: rem(8) rem(16);
      position: relative;
      .prefix,
      .suffix {
        white-space: nowrap;
      }
      input {
        padding: 0 rem(8);
        width: 100%;
      }
      input[type=number] {
        -moz-appearance: textfield;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      img ~ input {
        margin-right: rem(20);
      }
      img ~ input ~ .suffix {
        margin-left: rem(-20);
      }
      .bin {
        bottom: rem(12);
      }
      .add {
        margin: rem(16) 0 0;
      }
    }
  }
}

.form-group-date {
  max-width: rem(370);
}

.form-group-select {
  > label {
    margin: 0 0 0;
  }
}

.form-group-url {
  border-left: 1px solid #687086;
  margin-top: rem(8);
  max-width: rem(370);
  min-height: rem(223);
  > label {
    color: $text-color2;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(24);
    padding: 0 0 0 rem(16);
    text-transform: uppercase;
  }
}

// Form groups.
.form-group {
  display: inline-block;
  margin-bottom: rem(28);
  position: relative;
  width: 100%;
  > label {
    color: $text-color2;
    font-size: rem(14);
    font-weight: 600;
    line-height: rem(18);
    margin: 0 0 rem(16);
  }
}
.group-publish > label {
  color: $text-color2;
  font-size: rem(14);
  font-weight: 600;
  line-height: rem(18);
  margin: 0;
}

.form-group-text,
.form-text-area,
.form-group-summary,
.slider {
  width: calc(100% - 32px);
  .add {
    float: right;
    margin: rem(16) 0 0;
  }
}
.text-area,
.form-summary,
.form-text,
.form-number-slider{
  position: relative;
  .bin {
    bottom: 0;
    right: rem(-32);
  }
}

.form-text-area .remove {
  float: none;
  margin: rem(-3) 0 rem(16);
}

// Form group textfield.
.form-group-textfield,
.form-group-number,
.form-group-email,
.form-group-password,
.form-group-url {
  input {
    background-color: transparent;
    border: 0;
    width: 84%;
    height: rem(24);
    margin: 0;
    padding: 0;
  }

  .add {
    margin: rem(12) 0 0;
  }

  // Actions.
  .form-actions {
    text-align: right;
    .mock-class {
      position: relative;
    }
  }

}
.form-group-date,
.form-group-url {
  // Add button.
  .add {
    float: right;
    margin: rem(12) 0 0;
  }
}

// Textfields.
.textfields,
.numberfields,
.emailfields,
.urlfields {
  margin: rem(-12) 0 0;
}

.textfield {
  border-bottom: 1px solid $ligth-grey;
  min-height: rem(31);
  margin: rem(7) 0 rem(4);
  position: relative;
}

// Textfield.
.emailfield,
.urlfield {
  border-bottom: 1px solid $ligth-grey;
  min-height: rem(31);
  margin: rem(7) 0 0;
  position: relative;

  // Remove button.
  .remove {
    position: absolute;
    right: rem(-88);
  }
}

.numberfield {
  &:first-child .suffix {
    margin-right: rem(0);

  }
}
.textfield,
.emailfield {
  .bin {
    bottom: rem(10);
    right: 0;
  }
}
.field.textfield {
  font-size: rem(16);
  input {
    color: $text-color1;
  }
}

.urlfield {
  background-color: $secondary;
  border: 0;
  margin: rem(4) 0 rem(4);
  padding: rem(1) 0 rem(16) rem(16);
}

.prefix,
.suffix {
  color: $text-color2;
  font-size: rem(16);
}

.suffix {
  float: right;
  margin-right: rem(31);
}

// Select.
.form-group {
  ng-select {
    border-bottom: 1px solid $ligth-grey;
  }
}

// Textarea.
textarea {
  border: 1px solid $ligth-grey;
  margin: rem(4) 0 rem(-7);
  min-height: rem(150);
  padding: rem(10);
  width: 100%;
}

.text-danger {
  position: absolute;
  right: 0;
  top: 0;
  + .text-danger {
    top: rem(14);
  }
}

// Unsupported field.
.unsupported-field {
  background-color: $ligth-grey;
  border: 2px solid;
  color: $text-color2;
  height: rem(80);
  line-height: rem(80);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.required {
  color: firebrick;
  font-weight: bolder;
}

.json-description {
  background-color: #EFF0F3;
  color: $text-color4;
  cursor: default;
  font-size: rem(12);
  height: rem(24);
  max-width: 100%;
  padding: rem(4) rem(8) rem(3) rem(8);
  overflow: hidden;
  width: rem(220);
}

.form-upload,
.form-group-reference {
  max-width: rem(370);
}
.form-groups.group-publish.form-group-publish {
  margin: rem(5) 0 rem(23) ;
}

.form-group.form-group-publish {
  .form-groups.group-publish.form-group-publish {
    margin: 0 ;
  }
}

.form-group-publish {
  margin-bottom: rem(0);
  max-width: rem(370);
  position: relative;
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  label {
    margin-bottom: 0;
  }
}
.form-reference, .unsupported-field, .form-upload, .form-radio, .form-text, .slider, .numberfields, .form-group-date, .form-group-select, .text,.text-area, .form-summary {
  &:hover .tooltip {
    opacity: 1;
    top: rem(-10);
    visibility: visible;
  }
}
.field-date,
.urlfields {
  background-color: $secondary;
  height: rem(40);
  margin: rem(4) 0;
  position: relative;
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}
.field-date {
  margin-bottom: 0;
  padding: rem(8) 0 0 rem(16);
  img {
    bottom: rem(12);
  }
}

.permission-message {
  background-color: #EFF0F3;
  color: $text-color2;
  font-size: rem(16);
  font-weight: 400;
  margin-top: rem(7);
  max-width: 100%;
  padding: rem(14) rem(18) rem(17) rem(16)
}