<section class="right-container">
  <div class="error-container ">
    <div class="pt-2" align="center">
      <div class="d-block">
        <img class="img-fluid" src="../../../../assets/images/403.gif">
      </div>
      <span class="access-denied">
        ACCESS DENIED
      </span>
      <span class="access-denied negative-margin">
        You don't have permission
        to access this page.
      </span>
      <button class="mt-1 btn-update" routerLink="/login">Go to Login</button>
    </div>
  </div>
</section>


