@import '../../../../assets/scss/sidemenu';
@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/header';
@import '../../../../assets/scss/user-avatar';
@import '../../../../assets/scss/searchbar';
@import '../../../../assets/scss/overlay';

.avatar {
  border-radius: rem(100);
  box-shadow: 0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.25);
  height: rem(150);
  width: rem(150);
  @media (min-width: 768px) and (max-width: 1020px) {
    height: rem(120);
    width: rem(120);
  }
}

.col-12 {
  padding: 0;
  margin: rem(70) rem(10) 0 0;
  text-align: center;
  @media (min-width: 501px) {
    text-align: right;
    margin: rem(70) 0 0 0;
  }
}

.user-return {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 3;
  img {
    height: rem(12);
    width: rem(12);
  }
}

.profile-info {
  color: $text-color2;
  font-size: rem(24);
  line-height: rem(24);
  margin-bottom: rem(78);
  margin-top: rem(4);
  width: 100%;
  &:after {
    background: $green;
    content: '';
    height: rem(1);
    position: absolute;
    left: 0;
    top: rem(33);
    width: calc(100% - 20px);
    @media (min-width: 501px) {
      width: calc(100% - 40px);
    }
    @media (min-width: 1076px) {
      width: calc(50% - 20px);
    }
  }
}

.personal-options {
  color: $text-color2;
  font-weight: 600;
  height: rem(19);
  line-height: rem(19);
  margin-left: rem(29);
  span {
    font-weight: initial;
  }
}

.user-info {
  background-color: $white;
  margin: 0;
  padding: rem(25) 0 rem(20) rem(20);
  overflow: hidden !important;
  @media (min-width: 501px) {
    padding-left: rem(40);
    padding-right: rem(10);
    padding-top: rem(123);
  }
  .col {
    margin: 0;
    padding: 0 rem(20) 0 0;
    @media (min-width: 501px) {
      padding-right: rem(40);
    }
  }
}

.user-info-redux {
  background-color: $white;
  margin: 0;
  padding: rem(25) 0 rem(20) rem(20);
  overflow: hidden !important;
}

.user-view {
  @include common-shadow(2px, 2px, 2px, 0px, rgba(0, 0, 0, 0.15));
  min-height: 100vh;
  .user-avatar {
    align-items: center;
    background-color: $green;
    display: flex;
    flex-direction: column;
    min-height: rem(210);
    padding: rem(30) 0 0 0;
    position: relative;
    @media (min-width: 768px) {
      padding: rem(80) 0 0 0;
    }
  }
}

.json-schema-form {
  box-shadow: none !important;
}

ng4-spinner {
  section {
    @include common-shadow(2px, 2px, 2px, 0, rgba(0, 0, 0, 0.15));
    font-size: rem(20);
    text-align: right;
  }
}

.rest {
  .fa {
    color: $white;
    position: absolute;
    bottom: 21px;
    right: 56px;
  }
}

// Loader.
lottie-animation-view {
  width: 100%;
}