@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/overlay";
@import "../../../../assets/scss/imagegrid";

.item {
  margin: 0 rem(-11);
  padding: rem(16) rem(16) rem(15);
  position: relative;
  &:hover {
    .overlay {
      background-color: rgb(51, 59, 80);
      transition: 1s ease;
      opacity: 0.9;
      z-index: 3;
    }
  }
}

.answer-yes {
  font-size: rem(14);
  font-weight: 600;
  top: calc(100% - 46px);
}

.answer-no {
  font-size: rem(14);
  font-weight: 600;
  top: calc(100% - 46px);
  width: rem(70);
}

.answer-q {
  font-size: rem(14);
  font-weight: 600;
  padding-left: 13%;
  padding-right: 13%;
  top: rem(10);
  width: 100%;
}

.info {
  margin: 0 0 0 rem(14);
  position: relative;
  width: calc(100% - 104px);
  &:after {
    background-color: $ligth-grey;
    bottom: rem(-15);
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
  }
}

.title {
  font-size: rem(14);
  font-weight: 700;
}

.author {
  color: #707684;
  font-size: rem(12);
  font-weight: 700;
}

.comment-date {
  color: $text-color4;
  font-size: rem(12);
  font-weight: 600;
}

// Overwride ng select.
ng-select.custom {
  right: rem(70) !important;
  width: rem(125);
  z-index: 2;
  &.opened {
    width: rem(200);
  }
}