@import '../../../../../node_modules/bootstrap/scss/bootstrap';
@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/overlay";
@import "../../../../assets/scss/imagegrid";

.add-widget {
  color: $green;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: rem(14);
  font-weight: 600;
  line-height: rem(19);
  margin: rem(4) 0 0 rem(12);
  img {
    height: rem(14);
    margin: 0 rem(8) 0 0;
    width: rem(14);
  }
}

.widget-list {
  margin: rem(16) rem(-7.5) 0;
  height: calc(100vh - 195px) !important;
  overflow-x: hidden;
  overflow-y: auto;
  @include media-breakpoint-up(sm) {
    height: calc(100vh - 215px) !important;
  }
  .media-item {
    img {
      margin-bottom: rem(13);
    }
  }
}

app-widget-body {
  cursor: pointer;
  @include media-breakpoint-down(sm) {
    width: 100% !important;
  }
  &.selected-widget {
    position: relative;
    &:after {
      border: 2px solid $green;
      content: "";
      height: 100%;
      left: rem(7.5);
      position: absolute;
      top: 0;
      width: calc(100% - 15px);
    }
    &:before {
      content: url("../../../../assets/images/round-checked.svg");
      height: rem(18);
      position: absolute;
      right: rem(16);
      top: rem(8);
      width: rem(18);
    }
  }
}

.confirm-widget {
  margin-right: rem(-8) !important;
  padding-right: 0 !important;
}

// Select Widget Modal.
.modal-dialog.select-widget-modal {
  height: 100%;
  max-width: 100%;
  @include media-breakpoint-down(sm) {
    margin: 0;
  }
  @include media-breakpoint-up(sm) {
    height: calc(100% - 50px);
    margin-top: rem(50);
    margin-bottom: 0;
  }
  .modal-content {
    background: none;
    border: 0;
    height: calc(100% - 60px);
    padding: 0;
  }
  .select-widget-wrapper {
    background: linear-gradient(180deg, #F8F9FA 0%, #D2D7E0 100%);
    height: 100%;
    margin: 0 auto;
    max-width: rem(460);
    padding: rem(40) rem(20) rem(20);
    width: 100%;
    @include media-breakpoint-down(sm) {
      margin: rem(30) rem(30) 0;
      width: calc(100% - 60px);
    }
    @include media-breakpoint-up(lg) {
      max-width: rem(895);
    }
    @media (min-width: 1339px) {
      max-width: rem(1330);
    }
  }
  .footer {
    background-color: $white;
    bottom: 0;
    box-shadow: 2px -1px 4px 0 rgba(177,180,190,0.5);
    height: rem(60);
    position: fixed;
    button {
      @include border-radius(2px);
      font-size: rem(14);
      height: rem(30);
      line-height: rem(30);
      padding: 0 rem(10);
    }
  }
  .form-actions {
    padding: 0;
  }
}

.grid-item.large {
  .de-table .table {
    margin-top: rem(61) !important;
  }
}