@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/overlay";
@import "../../../../assets/scss/imagegrid";

.media-items {
  height: rem(320);
  overflow-x: hidden;
  overflow-y: auto;
  margin: rem(42) 0 rem(10);
}

:host-context(.large) .media-items {
  height: rem(430);
  margin: rem(42) 0 rem(10);
}

.media-item {
  img {
    height: 100%;
    object-fit: cover;
  }
}

:host-context(.default) .media-item,
:host-context(.grid-item) .media-item {
  height: rem(292);
  margin: rem(14) auto;
  width: rem(380);
}

:host-context(.large) .media-item {
  float: left;
  height: rem(200);
  margin: rem(7.5);
  width: rem(261);
}