@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

alert {
  text-align: center;
}

.closebtn {
  margin-left: rem(15);
  color: white;
  font-weight: bold;
  float: right;
  font-size: rem(22);
  line-height: rem(20);
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

div {
  z-index: 9999;
}

.alert-md-color {
  background-color: #7B1FA2;
  border-color: #4A148C;
  color: #fff;
}