<section class="main-container-right">
  <div class="filter">
  </div>

  <!--List-->
  <div class="block">
    WORKS!<br />
    <div echarts [options]="chartOption" class="de-chart"></div>
    <br />
    <div echarts [options]="doughnut1" class="de-chart" style="width: 550px"></div>
    <br />
    <div echarts [options]="bar" class="de-chart"></div>
    <br />
    <div echarts [options]="line" class="de-chart"></div>
    <br />
    <div echarts [options]="area" class="de-chart"></div>
    <br />
    <div echarts [options]="map" class="de-chart" style="width: 550px"></div>
    <br />
    <!--<div echarts [options]="doughnut" class="de-chart"></div>-->
  </div>
</section>
