@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/searchbar";
@import "../../../../assets/scss/filter";
@import "../../../../assets/scss/imagegrid";
@import "../../../../assets/scss/overlay";
@import "../../../../assets/scss/sidemenu";

.filter {
  width: 100%;
}

.searchbar{
  .search {
    svg {
      right: rem(5);
    }
  }
}
app-masonry {
  margin: 0 rem(-7.5);
  img {
    max-height: rem(600);
    width: 100%;
  }
}

appMasonryItem {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: rem(2);
}

.overlay {
  width: 100%;
}
button {
  background-color: $green; /* Green */
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 8px 8px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
}

// Right container.
.main-container-right {
  display: inline-block;
  float: right;
  margin: rem(46) rem(50) rem(60) 0;
  min-height: calc(100vh - 190px);
  position: relative;
  width: calc(100% - 150px);
  &:before {
    background-color: $text-color1;
    content: "";
    height: 100%;
    left: rem(-20);
    position: absolute;
    top: 0;
    width: 1px;
  }
}

// Loader.
lottie-animation-view {
  width: 100%;
}

.no-content {
  margin: 20px 0;
  font-size: 24px;
}