<section class="main-container-right">
    <div class="searchbar">
        <h1>Media</h1>
    </div>
    <div class="filter">
        <ng-select class="custom"
                   [items]="type"
                   (change)="filterMedia()"
                   (clear)="clear()"
                   [searchable]="false"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Type"
                   [(ngModel)]="selectedType">
        </ng-select>
        <ng-select class="custom"
                   [items]="date"
                   (change)="filterMedia()"
                   (clear)="clear()"
                   [searchable]="false"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Date"
                   [(ngModel)]="selectedDate">
        </ng-select>
    </div>

    <!--Loader-->
    <lottie-animation-view *ngIf="!mediaList"
                           [options]="lottieConfig"
                           [width]="300"
                           [height]="400">
    </lottie-animation-view>

    <!--In case the retrieved object is empty but exists -->
    <div class="no-content" *ngIf="mediaList && mediaList.length === 0">
        <h1>No Content to be displayed.</h1>
    </div>

    <!--List-->
    <app-masonry *ngIf="mediaList"  [useImagesLoaded]="true" class="hero">
        <appMasonryItem class="hero-grid__item"  *ngFor="let myMedia of mediaList">
            <div class="image_size">{{fileSize(myMedia.filesize) |  number : '1.2-2'}} MB</div>
            <img *ngIf="myMedia.filemime.slice(0, 3) === 'ima'; else defaultMedia" src="{{myMedia.uri}}">
            <img *ngIf="myMedia.filemime.slice(0, 3) === 'app'" src="../../../../assets/images/noDocs.svg">
            <img *ngIf="myMedia.filemime.slice(0, 3) === 'vid'" src="../../../../assets/images/noVideo.svg">
            <img *ngIf="myMedia.filemime.slice(0, 3) === 'aud'" src="../../../../assets/images/noAudio.svg">
            <ng-template><img #defaultMedia src="../../../../assets/images/default.svg"></ng-template>
            <div class="overlay">
                <div class="updates">
                    <p class="hero__tagline">{{myMedia.filename}}</p>
                    <p *ngIf="myMedia.username && myMedia.username.name; else enableAnonymous" class="hero__author">By {{myMedia.username.name}} on {{myMedia.created * 1000 | date}}</p>
                    <ng-template #enableAnonymous class="hero__author">By Anonymous on {{myMedia.created * 1000 | date}}
                    </ng-template>
                </div>
                <div class="checkbox">
                </div>
                <div class="options">
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
            <div class="description">
                <p class="hero__tagline">{{myMedia.filename}}
                </p>
                <p *ngIf="myMedia.username && myMedia.username.name; else enableAnonymous" class="hero__author">By {{myMedia.username.name}} on {{myMedia.created * 1000 | date}}
                </p>
                <ng-template #enableAnonymous class="hero__author">by Anonymous on {{myMedia.created * 1000 | date}}
                </ng-template>
            </div>
        </appMasonryItem>
    </app-masonry>
    <button *ngIf="limit < filteredMedia.length" (click)="showMoreImages()">Show More</button>
</section>


