@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/searchbar";
@import "../../../../assets/scss/filter";
@import "../../../../assets/scss/imagegrid";
@import "../../../../assets/scss/overlay";
@import "../../../../assets/scss/sidemenu";

.filter {
  width: 100%;
}

.searchbar{
  .search {
    svg {
      right: rem(5);
    }
  }
}
ngx-masonry  {
  margin: 0 rem(-7.5);
  img {
    max-height: rem(600);
    width: 100%;
  }
}

ngxMasonryItem {
  @include common-shadow(2px, 2px, 2px, 0px, rgba(0, 0, 0, 0.15));
  border-radius: rem(2);
}

.overlay {
  width: 100%;
}

// Loader.
lottie-animation-view {
  width: 100%;
}

.description {
  padding-top: rem(7);
}