<section class="main-container-right">
    <!--Loader-->
    <lottie-animation-view *ngIf="showSchema === false"
                           [options]="lottieConfig"
                           [width]="300"
                           [height]="400">
    </lottie-animation-view>

    <!--Add new content-->
    <section class="right-container" *ngIf="showSchema === true">
        <div class="searchbar">
            <h1>Add New <span>{{contentLabel}}</span> Content</h1>
        </div>
        <app-os-form [formData]="contentSchema" (sentData)="onSubmitFn($event)" [buttonValue]="buttonValue"></app-os-form>
    </section>
</section>